@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 3%;
    padding: 0;
}

.container {
    display: flex;
}
.main-div {
    display: flex;
    flex-direction: row;
}



aside {
    font-family: 'Montserrat', sans-serif;
    background-color: #8396B9;
    display: flex;
    flex-direction: column;
    align-items: left;
}

aside div{
    padding: 20px;
}

section h1{
    font-family: 'Montaga', serif;
}

section {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 20px;
}

section > div {
    margin-bottom: 20px;
}



.highlight {
    color: #6D9BF5;
    font-weight: bold;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    margin-bottom: 5px;
}
section p {
    font-size: smaller;
    color: #A8A8A8;
}
